.link {
  color: #fff;
  font-weight: 500;
  font-size: 0.8rem;
  position: relative;
}

.link:hover {
  color: #fff;
}

.link::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s;
}

.link:hover::before {
  transform: scaleX(1);
}
