.preloader,
.flex {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 6;
  color: #fff;
}

.preloader {
  transform-origin: left;
  animation: disappear 0.1s 3.6s 1 forwards;
}

.flex {
  display: flex;
}

.talk {
  position: relative;
  z-index: 7;
  padding: 40px;
  overflow: hidden;
}

.talk span {
  background-color: #fff;
  position: absolute;
}

.talk span:nth-child(1) {
  left: 0;
  top: 0;
  width: 4px;
  height: 100%;
  transform-origin: top;
  transform: scaleY(0);
  animation: growY 0.4s 1s 1 forwards;
}

.talk span:nth-child(2) {
  right: 0;
  top: 0;
  width: 4px;
  height: 100%;
  transform-origin: bottom;
  transform: scaleY(0);
  animation: growY 0.4s 1s 1 forwards;
}

.talk span:nth-child(3) {
  left: 0;
  top: 0;
  height: 4px;
  width: 100%;
  transform-origin: right;
  transform: scaleX(0);
  animation: growX 0.4s 1.4s 1 forwards;
}

.talk span:nth-child(4) {
  left: 0;
  bottom: 0;
  height: 4px;
  width: 100%;
  transform-origin: left;
  transform: scaleX(0);
  animation: growX 0.4s 1.4s 1 forwards;
}

.talk h3 {
  margin-bottom: 0;
  transform: translateY(80px);
  opacity: 0;
  animation: slideUp 0.8s 1.8s forwards;
}

.preloader .flex_column {
  transform: scaleY(1);
  background-color: #0a0909;
  width: 100%;
  height: 100%;
}

.preloader .flex_column:nth-child(1) {
  transform-origin: top;
  animation: growY 0.8s 2.8s 1 reverse forwards;
}

.preloader .flex_column:nth-child(2) {
  transform-origin: bottom;
  animation: growY 0.8s 2.8s 1 reverse forwards;
}

@keyframes growY {
  0% {
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
  }
}

@keyframes growX {
  to {
    transform: scaleX(1);
  }
}

@keyframes slideUp {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes disappear {
  to {
    transform: scaleX(0);
  }
}
