.goal hr {
  opacity: 1;
}

.details {
  text-decoration: underline;
  cursor: pointer;
  color: #cccccc;
  margin-top: 20px;
}

.goal_name {
  font-weight: 600;
}

.date {
  color: #cccccc;
}

.progress {
  width: 100%;
  border-radius: 20px;
  border: 1px solid #fff;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.progress p {
  margin: 0;
}

.progress .background {
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  height: 100%;
  border-radius: 20px;
  background-color: #fdb095;
  z-index: -1;
  transition: transform 0.5s;
}
